<div class="create">
    <h2 class="create-title"> Novo Contato: </h2>
    <form>
        <input id="name" name="name" type="text" placeholder="Nome" #name>
        <input id="phone" name="phone" type="text" placeholder="Telefone" #phone>
        <input id="email" name="email" type="text" placeholder="E-mail" #email>
        <input id="company" name="company" type="text" placeholder="Empresa" #company>
        <button class="save-button" type="submit" (click)="saveContact()">Criar</button>
    </form>
</div>